.img-container img {
    width:150px;
    height: 150px;
    margin: 20px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  
    -moz-box-shadow : 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
  
    box-shadow : 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border: #e0dbdb solid 6px;
    border-radius: 0;
  }
  
  /* on click I want it to shift slightly to show they clicked on it or when you hover over it */
  /* img:hover {
    border: yellow;
  } */
  
  /* or have it move when you hover over it */
  img:hover {
    margin-top: 2px;
  }